h3 {
  text-align: center;
}

a {
  font-style: normal;
  list-style: none;
  color: black;
}

body {
  font-family: sans-serif;
}

.jumbotron {
  margin-bottom: 10px;
}
.side-nav {
  list-style-type: none;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
}

.col-md-4 {
  text-align: center;
  max-height: 100%;
}

#img1 {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

#img2 {
  text-align: center;
  width: 100%;
  padding: 0;
  margin-bottom: 1%:
  border: 0;
}

#img3 {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;}

#snow-whiskey {
  width: 100%;
}
