h3 {
  text-align: center;
}

h4 {
  font-weight: bold;
}

a {
  font-style: normal;
  list-style: none;
  color: black;
}

body {
  font-family: sans-serif;
}

footer {
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

span {
  text-decoration: underline;
}
.jumbotron {

  margin-bottom: 10px;
}
.side-nav {
  list-style-type: none;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
}

.col-md-4 {
  text-align: center;
  max-height: 100%;
}

.projectlist {
  list-style-type: none;
}

.backgroundinfo {
  text-align: left;
  text-decoration: underline;
}
.jobtasks li {
  list-style-type: disc;
}
.wiki {
  font-style: italic;
}
.panel-heading {
  border: 0;
}
#img1 {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

#img2 {
  text-align: center;
  width: 100%;
  padding: 0;
  margin-bottom: 1%:
  border: 0;
}

#img3 {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;}

#snow-whiskey {
  width: 50%;
  float: right;
}
